.page {
  padding: 0.8rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eee;

  &__title {
    font-size: 1.5rem;
    color: rgb(99, 99, 99);
  }

  &__search {
    padding: 0.5rem;
    width: 20rem;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    outline: none;
    transition: all ease 0.3s;

    &:focus {
      border-color: rgb(189, 223, 245);
      background-color: #fff;
    }
  }
}
.club {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 20rem;
    list-style: none;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    background-color: rgb(201, 228, 246);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: bold;
    color: rgb(80, 75, 75);

    & > * {
      margin: 3px 0;
    }
  }

  &__label {
    display: inline-block;
    font-weight: normal;
    width: 10rem;
    color: rgb(80, 75, 75);
  }

  &__name {
    font-weight: bold;
  }
}
.new-club {
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding: 3rem 0 1rem 0;
    font-size: 1.5rem;
    color: rgb(99, 99, 99);
  }
  &__option {
    padding: 3rem 0 1rem 0;
    font-size: 1rem;
    color: rgb(99, 99, 99);
  }

  &__input {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 25rem;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    outline: none;
    transition: all ease 0.3s;

    &:focus {
      border-color: rgb(99, 99, 99);
      background-color: #fff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  &__btn {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    border: 2px solid rgb(99, 99, 99);
    background-color: rgb(99, 99, 99);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.3s;
    width: 10rem;

    &:hover {
      border-color: rgb(121, 144, 160);
      background-color: rgb(121, 144, 160);
    }
  }
}
